# Java classes
secuencial/Lote.class
secuencial/Bloque.class
secuencial/Pedido.class
secuencial/Recorrido_Secuencial.class

# Pedidos creados previamente
secuencial/Pedido #1.txt
secuencial/Pedido #2.txt
secuencial/Pedido #3.txt
secuencial/Pedido #4.txt
secuencial/Pedido #5.txt

# Notas
notasAlgoritmoGenerarLotes.txt
flujo.txt
out.txt
TO-DO.txt